.form {
  max-width: 576px;
  margin: auto;
}

.card a {
  text-decoration: none ;
  color: inherit;
}
.card{
  transition: box-shadow .3s;
}

.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.picture{
  border: 1px solid #ccc;
}

.list-unstyled {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  position: relative;
}

.nav-link:hover{
  color:#dc3545;

}

.logout{
  font-size: 15px;

}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  background:#dc3545;
  transition: 0.4s;
  margin: 0 auto;
}

.nav-item:hover::after {
  width: 100%
}

.nav-link {
  transition: 0.2s
}

.btn-1:hover{
  background-color: black;
}



.content-wrap{
  flex-grow: 1;
}

.page-container{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.img-holder{
  overflow: hidden;

}



.indention {
  margin-left:20px;
}

.hover-item {
  transition: 0.3s;
}
.hover-item:hover {
  transform: translate(0, -10px);
}

.hover-item1 {
  transition: 0.3s;
}
.hover-item1:hover {
  transform: translate(0, -3px);
}

.text-shadow{
  
  text-shadow: 0px 3px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  
}

.form-select{
  cursor: pointer;
}


.nostyle{
  text-decoration: none;
}

.btn-quote {
  background-color: #fff !important;
  color: #dc3545;
  text-decoration: none;
  border-radius: 3px;
  border: 2px solid #dc3545;
  box-shadow: .9px 1px 0 0 #dc3545, 1.5px 2px 0 0 #dc3545, 2.5px 3px 0 0 #dc3545, 3.5px 4px 0 0 #dc3545, 4.5px 5px 0 0 #dc3545, 5.5px 6px 0 0 #dc3545, 6.5px 7px 0 0 #dc3545, 7.5px 8px 0 0 #dc3545, 8.5px 9px 0 0 #dc3545, 9.5px 10px 0 0 #dc3545;
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all .3s ease;
}


.btn-quote:hover {
  color: #dc3545;
  background-color: #fff !important;
  border: 2px solid #dc3545;
  text-decoration: none;
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(.25deg);
  box-shadow: none;
}

